@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">Welcome to</p>
            <h1 class="display-4 fw-bold lh-1 mb-4">Super League Web</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a asp-controller="Teams" asp-action="Index" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><i class="bi bi-plus-square"></i> Create Your Team</a>
                <a asp-controller="Teams" asp-action="Match" class="btn btn-outline-secondary btn-lg px-4"><i class="bi bi-play"></i> Start a Match</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="\Images\Super.png" alt="" width="420">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>
